.filter{
  width: 20vw;
  padding-bottom: 2rem;
}

.filter-description {
  font-size: 1.25em;
  font-weight: 600;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 1rem;
  text-decoration: underline solid var(--secondary-color);
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.2em;
}

.currently-selected-filter {
  font-weight: 600;
  width: 20vw;
  border: 2px solid var(--lightGray-color);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  color: var(--secondary-color)
}

.filter-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s ease;
}

.filter-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.currently-selected-filter > img {
  width: 1rem;
  cursor: pointer;
}

.filter-menu {
  border: 1px solid var(--lightGray-color);
  width: 19rem;
  position: absolute;
  z-index: 1;
  background-color: var(--primary-color);
}

.filter-item {
  list-style: none;
  cursor: pointer;
  border: 1px solid var(--lightGray-color);
  padding: 0.5rem;
  color: var(--secondary-color);
}

.currently-selected-filter > img.unflipped {
  transform: rotate(0deg);
  transition: 0.3s transform ease-in;
}

.currently-selected-filter > img.flipped {
  transform: rotate(180deg);
  transition: 0.3s transform ease-in;
}