.detailed-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.detailed-view.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s opacity ease;
}

.detailed-view.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity ease;
}

.detailed-view-content {
  position: relative;
  padding: 5rem;
  width: 80%;
  height: 80vh;
  background-color: var(--primary-color);
}

.detailed-view-content > .close-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--black-color);
}

table th,
table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
}

table th {
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

table td {
  font-size: 0.9rem;
  font-weight: normal;
}