.detailed-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.detailed-view.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s opacity ease;
}

.detailed-view.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity ease;
}

.detailed-view-content {
  position: relative;
  padding: 5rem;
  width: 80%;
  height: 80vh;
  background-color: var(--primary-color);
}

.detailed-view-content > .close-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.detailed-view-header {
  margin-bottom: 25px
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  /* Hide the table headers on small screens */
  thead {
    display: none;
  }

  /* Make each row a block element and add a border and margin */
  tr {
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  /* Add a pseudo element with the table header as content */
  /* and style it to appear like a table header */
  td::before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }

  /* Hide the last row border since it's unnecessary */
  tr:last-child {
    border-bottom: none;
  }
}
