.tile-group {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    flex-wrap: wrap;
  }
  
  .tile {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: start ;
    align-items: top;
  }
  
  .tile .date {
    font-size: 11px;
    font-weight: bold;
  }

.stress-score {
  font-size: 11px;
  align-self:flex-end;
  font-weight: bold;
}

.const-diff {
  position: absolute;
  left: 20px;
  font-size: 15px;
}

.suggested-dates {
  font-size: 15px;
  position: absolute;
  left: 20px;
}