
.navBar {
  position: fixed;
  height: 4rem;
  width: 100%;
  z-index: 999;

  background-color: var(--primary-color);
  color: var(--black-color);
  
  display: flex;
  justify-content: space-between;

  padding: 0 1rem;
  border-bottom: 1px solid var(--lightGray-color);
  margin-bottom: 1rem;
  }
  
.site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.site-logo > a {
  color: inherit;
  text-decoration: none;
}

.logo {
  margin-top: 1.5rem;
  height: 8rem;
  width: 15rem;

  animation: 0.3s transform ease;
}

.logo:hover {
  transform: translateY(5px);
}

.navBar-components {
  margin-bottom: 0.75rem;
}

.link-item {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0rem 1.5rem;
  padding: 0;

  color: var(--lightGray-color);
  transition: 0.1s border-bottom ease-in, 0.1s color ease-in;
  }

.link-item.activeLink {
  border-bottom: 4px solid var(--secondary-color);
  font-weight: 600;
  color: var(--secondary-color);
}

.link-item:hover {
  border-bottom: 4px solid var(--secondary-color);
  color: var(--secondary-color);
}

.navBar .profile-picture {
  width: 4rem;
  border-radius: 50%;
  margin-left: 3rem;
  border: 2px solid var(--secondary-color);
}

.light-mode-toggle {
  align-self: center;
  background-color: var(--secondary-color);
  width: 4rem;
  height: 2rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;

  margin-right: auto;
}

.slider {
  background-color: var(--primary-color);
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider.-left {
  transform: translateX(0%);
  transition: 1s transform ease;
}

.slider.-right {
  transform: translateX(120%);
  transition: 1s transform ease;
}

.slider-icon {
  width: 70%;
}

.slider-icon.-left {
  transform: rotate(0);
  transition: 1s transform ease;
}

.slider-icon.-right {
  transform: rotate(360deg);
  transition: 1s transform ease;
}

.user-icon-profile {
  position: relative;
}

.user-dropdown {
  position: absolute;
  z-index: 9999;
  right: 0;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 18rem;
  height: 8rem;

  border: 2px solid var(--lightGray-color);

  font-family: var(--secondary-font);
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;

  opacity: 0;
  animation: 0.3s display ease;
}

.user-icon-profile:hover .user-dropdown {
  opacity: 1;
  animation: 0.3s opacity ease;
}

.user-dropdown > .user-name {
  margin-top: 1rem;
}

.signout {
  display: flex;
  justify-content:left;
  align-items: center;

  margin-left: 1rem;

  gap: 2rem;
  cursor: pointer;
  color: var(--lightGray-color);

}

.signout:hover {
  color: var(--secondary-color);
}

.signout > div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightGray-color);
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.logout-div {
  transform: translateX(0%);
  animation: 1s transform ease;
}

.signout:hover .logout-div {
  transform: translateX(13rem);
  animation: 1s transform ease;
}

.signout > div > img {
  width: 1rem;
  aspect-ratio: 1;
}

.signout > p {
  font-size: 20px;
}