
.navBar {
  background-color: var(--primary-color);
  height: 4rem;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid var(--lightGray-color);
  margin-bottom: 1rem;
  }
  
.site-logo {
  font-size: 2rem;
  letter-spacing: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.navBar ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.navBar a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 1.5rem;
}

.navBar li {
  border-bottom: 4px solid var(--lightGray-color);
  border-radius: 3px;
  color: var(--lightGray-color);
  transition: 0.2s background ease;
  transition: 0.2s color ease;
  }

.navBar li.activeLink {
  border-bottom: 4px solid var(--secondary-color);
  color: var(--secondary-color);
}

.navBar li:hover {
  background-color: var(--lightGray-color);
  color: black;
}

.navBar .profile-picture {
  width: 4rem;
  border-radius: 50%;
  margin-left: 3rem;
  border: 1px solid var(--lightGray-color);
}