CREATE DATABASE CoursesDB;
GO

USE [CoursesDB]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 30/3/2023 2:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Module Code] [varchar](50) NULL,
	[Semester] [int] NULL,
	[Assignment Name] [varchar](50) NULL,
	[Weightage] [float] NULL,
	[Assignment Type] [varchar](50) NULL,
	[Group or Individual] [varchar](50) NULL,
	[Start Date] [varchar](50) NULL,
	[Due Date] [varchar](50) NULL,
	[Deadline Time] [varchar](50) NULL,
	[Level] [varchar](50) NULL,
	[Major] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructors]    Script Date: 30/3/2023 2:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructors](
	[Days and Times] [varchar](50) NULL,
	[Instructor] [varchar](50) NULL,
	[Semester] [int] NULL,
	[Module Code] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 30/3/2023 2:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[Instructor] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module_pairs]    Script Date: 30/3/2023 2:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_pairs](
	[Module 1] [varchar](50) NULL,
	[Module 2] [varchar](50) NULL,
	[Count] [int] NULL,
	[Semester] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_counts]    Script Date: 30/3/2023 2:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_counts](
	[Semester] [int] NULL,
	[Module Code] [varchar](50) NULL,
	[Count] [int] NULL,
	[Level] [varchar](50) NULL,
	[Major] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Assignments] ([Module Code], [Semester], [Assignment Name], [Weightage], [Assignment Type], [Group or Individual], [Start Date], [Due Date], [Deadline Time], [Level], [Major]) VALUES (N'DSA1101', 2010, N'4 Quizzes', 10, N'Quiz', N'I', N'', N'', N'', N'level_1k', N'DSA')
INSERT [dbo].[Assignments] ([Module Code], [Semester], [Assignment Name], [Weightage], [Assignment Type], [Group or Individual], [Start Date], [Due Date], [Deadline Time], [Level], [Major]) VALUES (N'DSA1101', 2010, N'Midterm', 40, N'Exam', N'I', N'', N'', N'', N'level_1k', N'DSA')
INSERT [dbo].[Assignments] ([Module Code], [Semester], [Assignment Name], [Weightage], [Assignment Type], [Group or Individual], [Start Date], [Due Date], [Deadline Time], [Level], [Major]) VALUES (N'DSA1101', 2010, N'Finals', 50, N'Exam', N'I', N'', N'', N'', N'level_1k', N'DSA')
GO
INSERT [dbo].[instructors] ([Days and Times], [Instructor], [Semester], [Module Code]) VALUES (N'Mo 2:00PM-4:00PM', N'Baoluo Sun', 2010, N'DSA1101')
INSERT [dbo].[instructors] ([Days and Times], [Instructor], [Semester], [Module Code]) VALUES (N'Th 2:00PM-3:00PM', N'Baoluo Sun', 2010, N'DSA1101')
INSERT [dbo].[instructors] ([Days and Times], [Instructor], [Semester], [Module Code]) VALUES (N'Mo 12:00PM-2:00PM', N's/o Gopal Vikneswaran', 2010, N'DSA2101')
GO
INSERT [dbo].[login] ([Instructor], [Email], [Password]) VALUES (N'Aditya Shankar', N'', N'password1')
INSERT [dbo].[login] ([Instructor], [Email], [Password]) VALUES (N'Alexandre Hoang Thiery', N'a.h.thiery@nus.edu.sg', N'password1')
INSERT [dbo].[login] ([Instructor], [Email], [Password]) VALUES (N'Anne Hargreaves Carol', N'carol.hargreaves@nus.edu.sg', N'password1')
GO
INSERT [dbo].[module_pairs] ([Module 1], [Module 2], [Count], [Semester]) VALUES (N'DSA1101', N'DSA1101', 209, 2010)
INSERT [dbo].[module_pairs] ([Module 1], [Module 2], [Count], [Semester]) VALUES (N'DSA2101', N'DSA1101', 1, 2010)
INSERT [dbo].[module_pairs] ([Module 1], [Module 2], [Count], [Semester]) VALUES (N'DSA3101', N'DSA1101', 0, 2010)
GO
INSERT [dbo].[student_counts] ([Semester], [Module Code], [Count], [Level], [Major]) VALUES (2010, N'DSA1101', 209, N'level_1k', N'DSA')
INSERT [dbo].[student_counts] ([Semester], [Module Code], [Count], [Level], [Major]) VALUES (2010, N'DSA2101', 105, N'level_2k', N'DSA')
INSERT [dbo].[student_counts] ([Semester], [Module Code], [Count], [Level], [Major]) VALUES (2010, N'DSA3101', 91, N'level_3k', N'DSA')
GO
