@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-base: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --primary-color: #fffefe;
  --secondary-color: #455a63;
  --black-color: #030303;
  --lightGray-color: #c3cbcd;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --blue-color: rgb(49, 65, 252);

  --table-font-color: rgb(96, 96, 96);
  --table-primary-background-color: #f2f2f2;
  --table-secondary-background-color: white;
  --table-hover-background-color: #ddd;


  --stressed: rgba(202, 32, 45, 0.3);
  --moderate: rgba(247, 151, 0, 0.3);
  --good: rgba(51, 155, 83, 0.2);
}

[data-theme='dark'] {
  --primary-color: #455a63;
  --secondary-color: #fffefe;

  --table-font-color: rgb(243, 243, 243);
  --table-primary-background-color: #2f3b45;
  --table-secondary-background-color: #40505e;
  --table-hover-background-color: #484545;
  --link-color: lightblue;

  --stressed: rgba(202, 32, 45, 0.7);
  --moderate: rgba(247, 151, 0, 0.7);
  --good: rgba(51, 155, 83, 0.8);
}

* {
  font-family: var(--font-base);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.3s background-color ease-in;
}

.table-light {
  --font-base: "Inter", sans-serif;
    --primary-color: #fffefe;
  --secondary-color: #455a63;
  background-color: #fffefe;
  color: #fffefe;
}

.table-dark {
  --font-base: "Inter", sans-serif;
  background-color: #455a63;
  color: #fffefe;
}