.landing-page {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  color: white;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
}

.plannus-logo {
  width: 40rem;
  height: 24rem;
}

.blue {
  color: var(--blue-color);
  display: inline;
}

.landing-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgb(32, 34, 95);
  
  height: 100%;
  width: 80%;
  padding: 2rem;

  border-radius: 10rem 0 0 0;
  border: 2px solid white;
}

.landing-text-wrapper > p {
  font-size: 20px;
}

.landing-select-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.landing-title {
  color: rgb(255, 138, 14);
  font-size: 5rem;
}

.landing-button {
  width: 15rem;
  height: 5rem;
  background-color: rgb(255, 138, 14);
  border-radius: 5px;
  font-size: 28px;
  margin-top: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  animation: 0.3s background-color ease;
  
  cursor: pointer;
  border: 2px solid black;
}

.landing-button > a {
  font-family: var(--secondary-font);
  font-weight: 500;

  text-decoration: none;
  color: black;
}

.landing-button:hover {
  background-color: rgb(216, 118, 14);
}